<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQrACd7hfauB_85IKYpZUWQtmUdDK-6hs</string>
	<key>GCM_SENDER_ID</key>
	<string>195208708595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBook</string>
	<key>PROJECT_ID</key>
	<string>appbook-1e0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>appbook-1e0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195208708595:ios:6af9f4441ad86883129286</string>
	<key>DATABASE_URL</key>
	<string>https://appbook-1e0d2-default-rtdb.firebaseio.com</string>
</dict>
</plist>